<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <!-- adding icon on the website header -->
    <link rel="icon" href="img/icon.png" type="image/x-icon" />
    <title>About</title>
    <link rel="stylesheet" href="css/template.css" />
  </head>
  <body class="main">
    <!-- navigation bar -->
    <header>
      <div>
        <nav>
          <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/meet">Meet</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>

      <div class="clearfix"></div>
    </header>
    <!-- writing about section -->
    <div class="about">
      <h1>ABOUT</h1>
      <hr />
      <div id="start-video" 
      style="margin-top: 1%;">
      <!-- inserting video -->
        <iframe
          width="1520"
          height="585"
          src="https://www.youtube.com/embed/HI6QEVUCt2g"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <!-- inserting link for more details -->
      <p>
        For more details visit
        <a href="https://github.com/sachin-611/ms-team-clone.git">here</a>
      </p>
    </div>
  </body>
</html>
