<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <!-- adding icon on the website header -->
    <link rel="icon" href="img/icon.png" type="image/x-icon" />
    <!-- importing different dependencies -->
    <title>Thank you for joining!</title>
    <link rel="stylesheet" href="css/template.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
  </head>
  <body class="main">
    <!-- creating navigation bar -->
    <header>
      <div class="navbar">
        <nav>
          <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/meet">Meet</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>
      <div class="clearfix"></div>
    </header>
    <div class="about">
      <hr />
      <h1>Thank you for attending!</h1>
      <hr />
      <br />
    </div>
  </body>
</html>
