<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- adding icon on the website header -->
    <link rel = "icon" href = "img/icon.png" type = "image/x-icon">
    <title>Meeting Panel</title>
    <!-- adding css styles -->
    <link rel="stylesheet" href="css/template.css">
  </head>
  <body class="front">
    <div>
     <!-- creating navigation bar -->
      <header>
        <div class="heading">
          <strong><a href="/">Meeting Platform</a></strong>
        </div>
        <div>
          <nav>
            <ul class="navigation">
              <li><a href="/">Home</a></li>
              <li><a href="/meet">Meet</a></li>
              <li><a href="/chat">Chat</a></li>
              <li><a href="/feedback">Feedback</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </div>
        <div class="clearfix"></div>
      </header>
      <!-- displaying front page image and text -->
      <table cellspacing="50%" align="center">
        <tr>
          <td class="content">
            <h1>Teams Clone</h1>
            <hr />
            <p>A VIDEO COMMUNICATION SERVICE</p>
          </td>
          <td class="image">
            <img
              src="img/front-image.jpg"
              width="450px"
              height="300px"
              alt="Meeting Panel Image"
            />
          </td>
        </tr>
      </table>
    </div>
    <div id="start-video">
      <!-- displaying video -->
      <iframe width="1520" height="527" src="https://www.youtube.com/embed/rUftf6sFgJM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </body>
</html>
